{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Gujrati Kalarav</h1>
            <p>ગુજ્જુ જલવા ની શરૂઆત Ronak Pansuriya એ કરી છે. જેણે આરકે કોલેજ ઓફ એન્જિનિયરિંગ માંથી કમ્પ્યુટર
                એન્જિનિયરની
                ડીગ્રી મેળવેલ છે
                લોકોમાં હાસ્ય અને મનોરંજન ફેલાવવા માટે અમે શરૂ કરેલી એક નાનકડી પહેલ અત્યારે બઉ મોટો ગુજરાતી પરિવાર બની
                ગયો છે જેનું નામ છે ગુજ્જુ જલવા.

                ઘણા સમયથી સોશીયલ મીડીયા ના માધ્યમથી દરેક લોકોના દિલ સુધી પહોંચવામાં અમે સફળ થયા છે. જેનું શ્રેય માત્ર
                અમારી સાથે જોડાયેલા દરેક સભ્યને જાય છે.

                2017 માં ઈન્સ્ટાગ્રામ થી શરૂ કરેલા ગુજ્જુ જલવા ને લાખો લોકોએ ખૂબ પ્રેમ આપ્યો છે જેના લીધે અમે Facebook
                અને Twitter ના પ્લેટફોર્મ પર પણ લોકો સુધી પહોંચવાના પ્રયત્નો કરી રહ્યા છે

                ગુજ્જુ જલવા એ એક એવુ પ્લેટફોર્મ છે કે જેમાં દરેક ગુજરાતીઓને મળે છે રોજનું અદભુત મનોરંજન.
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Ronak Pansuriya</h2>
            <p><b>Thanks for connecting with us !!

                Follow us on our social media.. 
            </b></p>
            
          </div>
          
        </div>

    
    
</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
    crossorigin="anonymous"></script>
</body>

</html>
{% endblock body %}